/*Global Colors And Font*/
:root{
    --red: #E3170A;
    --dark: #011827;
    --gray: #B6BDB5;
    --darkblue: #36769D;
    --lightblue: #8ACFE5;
    --whiteText: #ffffff;
    --darkText: #000000;
    --roboto: "Roboto", sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
/*CSS For Header */
.header{
    background-color: var(--dark);
    display: flex;
    height: 144px;
    align-items: center;
    color: var(--whiteText);
}
.header__logoText{
    width: 78px;
    height: 84px;
    display: flex;
    align-items: center;
    margin-left: 13px;
}
.header h1{
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 24px;
}
.header__icon {
    width: 128px;
    height: 82px;
    margin-left: 27px;
/*CSS For Section Class Introduction */
}
.introduction__img{
     width: 100%;    
}
.introduction__navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduction__navigation button{
    height: 66px;
    width: 308px;
    background-color: var(--lightblue);
    color: var(--darkText);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-family: var(--roboto);
    font-weight: 700;
    margin-top: 37px;
}
.introduction__navigation a{
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 16px;
    color: var(--darkblue);
    margin-top: 30px;
}
/*CSS For Article Reviews */
.reviews{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding: 20px;
    margin-top: 67px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;    
}
.reviews__user {
    width: 73.34px;
    height: 72px;
    grid-row: 1 / 1;
    margin-right: 22.41px;
}
.reviews__text {
    font-family: var(--roboto);
    font-weight: 400;
    font-style: italic;
    color: var(--darkText);
    font-size: 24px;
    margin: 0;
    padding-right: 10px;
}
.reviews__date {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    color: var(--darkText);
    grid-column: 2;
    margin: 10px 0px 0px 0px;   
}
/*CSS For Section Class Content */

.content__heading{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 32px;
    color: var(--darkText);
    text-align: center;
    margin-top: 105px;
}
.content__room__heading{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 28px;
    margin: 10px 0px 0px 17px;
}
.content__room__container{
    display: flex;
    margin: 0px 0px 0px 52px;
    overflow-x: auto;
    
}
.content__room {
    margin: 0px 38px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    width: 363px;
    height: 446px; 
}
.content__room__stars{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
    gap: 8px;
}
.content__room__participants{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px 5px;

}
.content__room__info {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    padding: 15px;
    margin: 0px;
}
.content__room__button{
    background-color: var(--red);
    width: 180px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: var(--whiteText);
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 16px;
}
.content__button__container{
    display: flex;
    justify-content: flex-end;
    margin: 0px 18px 0px 0px;
}
.content__navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__navigation__button{
margin: 47px 0px 30px 0px;
width: 308px;
height: 66px;
background-color: var(--lightblue);
color: var(--darkText);
font-family: var(--roboto);
font-weight: 700;
font-size: 24px;
border: none;
border-radius: 5px;
}
.content__navigation__link {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 16px;
    color: var(--darkblue);
    margin: 0px 0px 56px 0px;
}
/*CSS For Article Class Story */
.story{
    background-color: var(--dark);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story__text{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: var(--whiteText);
}
.story__navigation{
    margin: 30px 0px 0px 0px;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 24px;
    color: var(--lightblue);
    width: 308px;
    height: 66px;
    background-color: var(--dark);
    border: 2px solid var(--lightblue);
    border-radius: 5px;

}